<div ng-controller='dashboardsController'>
  <h1>Welcome to the Dashboard</h1>
  Welcome {{user.name}}

<table border="1" style="width:100%">
  <tr>
    <th>Category</th>
    <th>Topic</th>
    <th>User Name</th>
    <th>Post Count</th>
  </tr>
  <tr ng-repeat='topic in topics'>
    <td>{{topic.category}}</td>
    <td>
      <a href="#">{{topic.topic}}</a>
    </td>
    <td>
      <a href="#/partial3/:id">{{topic.name}}</a>
    </td>
    <td></td>
  </tr>
</table>
<hr>
<h3>Add a New Topic</h3>

  <form>
    Topic: <input type="text" ng-model='newTopic.topic'><br>
    Description: <input type="text" ng-model='newTopic.description'><br>
    Category: <select name="Rails" id="" ng-model='newTopic.category'>
      <option value="HTML">HTML</option>
      <option value="MEAN">MEAN</option>
      <option value="PYTHON">PYTHON</option>
    </select>
    <input type="hidden" ng-value='newTopic.UserId = user._id'>
    <input type="hidden" ng-value='newTopic.name = user.name'>
    <input type="submit" value="Create Topic" ng-click='addTopic()'>
  </form>
</div>
